<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome</title>

  </head>
<body>
  <center>
  <h2>Welcome to Pet Tracker! </h2>
  <p>A convenient place to store all of the information on your furry friends!</p></center>
</body>
</html>