<center><h2>Create Your Account!</h2>
<form action="/signup" method="post">
  <div class="input-field">
    <input type="text" name="user[name]" id="name" class="validate">
      <label for="name">First Name</label>
  </div>
  <div class="input-field">
    <input type="text" name="user[lastname]" id="lastname" class="validate">
      <label for="lastname">Last Name</label>
  </div>
  <div class="input-field">
    <input type="text" name="user[username]" id="username" class="validate">
      <label for="username">Username</label>
  </div>
  <div class="input-field">
      <input type="text" class="datepicker" id="birthday" name="user[birthday]" class="validate">
        <label for="birthday">Birth Date</label>
  </div>
  <div class="input-field">
    <input type="text" name="user[email]" id="email" class="validate">
      <label for="email">E-Mail</label>
  </div>
  <div class="input-field">
    <input type="password" name="user[password]" id="password" class="validate">
      <label for="password">Password</label>
  </div>
  <input type="submit" value="Submit" class="btn-small pink lighten-3">
  </center>
</form>
<img src="/images/pettrackertransparent.png" class="circle responsive-img" width="300" height="300">
<script>
$(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>